:root {
  --button-color: #9df7e5;
  --main-text-color: #8b8982;
  --primary-dark-color: #7283fc;
  --primary-color: #aeb8fe;
  --primary-light-color: #f9f7fe;
  --hover-color: #8dddcd;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

h2 {
  font-weight: 800;
  font-size: 2.4rem;
  text-transform: capitalize;
}

h1 {
  font-weight: 800;
  font-size: 3.8rem;
  line-height: 1;
  letter-spacing: -0.1rem;
  text-transform: capitalize;
}

h3 {
  font-size: 1rem;
  color: var(--main-text-color);
  text-transform: uppercase;
}

p {
  color: var(--main-text-color);
  font-size: 0.8rem;
  margin: 20px auto;
  line-height: 1.7;
}

hr {
  background-color: var(--primary-dark-color);
  height: 1px;
  border: none;
}

.hero {
  margin: 80px auto;
}

.primary-button {
  background-color: var(--button-color);
  border: none;
  color: #000000;
  font-weight: 600;
  border-radius: 10px;
  padding: 15px 30px;
  text-transform: capitalize;
  text-decoration: none;
}

.primary-button:hover {
  background-color: var(--hover-color);
  transition: all 150ms ease-in-out;
  color: #000000;
}

.hero h3 {
  text-transform: none;
}

.projects-section h2 {
  margin-bottom: 45px;
}

.project-title {
  font-weight: 600;
  font-size: 1rem;
}

.project-text {
  color: var(--main-text-color);
}

.primary-card {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
  display: block;
  margin: 0 auto;
}

.secondary-card {
  border: none;
  display: block;
  margin: 0 auto;
}

.button-container {
  margin: 60px auto;
}

.about-picture {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 5px;
  background-color: var(--primary-color);
  margin: 40px auto;
}

.about-paragraph {
  margin-bottom: 60px;
}

.chart-icon {
  color: var(--primary-dark-color);
  font-size: 30px;
}

.experiences-overview {
  margin: 50px auto;
}

@media (max-width: 768px) {
  .primary-card {
    margin: 10px auto;
  }

  h1 {
    font-size: 3rem;
    padding: 20px;
  }

  .hero {
    text-align: center;
    display: block;
  }
}
